body {
  margin: 0;
  padding: 0;
}

.img-container {
  width: 100%;
  position: relative;
  height: 1150px;
  overflow: hidden;
}
.img-container img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.678)), to(rgba(0, 0, 0, 0.815)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.815));
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: animate 50s;
          animation: animate 50s;
  -o-animation: animate 50s;
}

@media (max-width: 1400px) {
  #size {
    width: 60%;
    margin: auto;
  }
}

.wrapper-text {
  position: inherit;
  top: 100px;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3%;
  text-align: center;
}
@media (max-width: 575.98px) {
  .wrapper-text {
    height: 850px;
  }
}
.wrapper-text h2 {
  font-family: Poppins 700;
  font-size: 28px;
  margin: 10px 0;
}
.wrapper-text p {
  font-family: Roboto 500;
  font-size: 28px;
  background-size: 40px;
}
.wrapper-text a {
  background: #47acff;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 15px;
}
.wrapper-text #box {
  top: 150px;
}
@media (max-width: 575.98px) {
  .wrapper-text #box {
    top: 0px;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes animate {
  0% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.navbar {
  color: black;
  font-size: 0px;
}
.navbar a img {
  width: 120px;
  height: 100px;
}
.navbar .image {
  padding-bottom: 75px;
  padding-left: 30px;
}

div.borderYtoX {
  font-family: Poppins 700;
  margin: 0 auto;
  padding: 1em 3em;
  text-align: center;
}

div.borderYtoX a {
  color: #FFF;
  text-decoration: none;
  font: 20px Poppins;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.borderYtoX a:before, div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

#icon {
  position: absolute;
  left: 20px;
  width: 300px;
  bottom: 380px;
}
@media (max-width: 575.98px) {
  #icon {
    bottom: 30px;
  }
}

.icon-bar {
  width: 150px;
  height: 100%;
  background-color: transparent;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
  padding-bottom: 35px;
}
.icon-bar a:hover {
  background-color: #000;
}
.icon-bar .active {
  background-color: #4CAF50;
}

#icon1 {
  position: absolute;
  right: -100px;
  width: 300px;
  bottom: 380px;
}
@media (max-width: 575.98px) {
  #icon1 {
    bottom: 30px;
  }
}

.icon-bar1 {
  width: 150px;
  height: 100%;
  background-color: transparent;
}
.icon-bar1 a {
  display: block;
  text-align: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
  padding-bottom: 35px;
}
.icon-bar1 a:hover {
  background-color: #000;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: transparent;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown div a {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.parent {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* Several different images */
}
.parent .child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.parent .bg-one {
  background-image: url(https://media.timeout.com/images/101602611/image.jpg);
}
.parent a {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  /*text-decoration: none;*/
}

#pic {
  padding-left: 0px;
  padding-right: 0px;
}

.parent:hover .child, .parent:focus .child {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {
    width: 100%;
    margin: 20px 0px;
  }

  .wrapper {
    padding: 20px 20px;
  }
}
.contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Style inputs */
  /* Style the container/contact section */
  /* Create two columns that float next to eachother */
  /* Clear floats after the columns */
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
}
.contact input[type=text], .contact select, .contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.contact input[type=submit]:hover {
  background-color: #45a049;
}
.contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.contact .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .contact .column, .contact input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.team .team-img {
  margin-bottom: 20px;
  position: relative;
}
.team .team-img img {
  width: 90%;
  border-radius: 30px;
}
.team .team-img img.border {
  border-color: #fff !important;
}
.team .social-media {
  position: absolute;
  bottom: 36px;
  opacity: 0;
}
.team .social-icon-box {
  margin-bottom: 5px;
  background-color: #193e6b;
  width: 46px;
  height: 46px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 19px 26px 16px;
  display: inline-block;
  line-height: 1.2;
  border-radius: 10px;
}
.team .team-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.team .team-img:hover .social-media {
  opacity: 1;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}
.team .team-block.active .social-media {
  opacity: 1;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}
.team .social-icon-box:hover {
  background-color: lightblue;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */