.products-img {
  height: 200px;
  object-fit: cover;
}

.products-details-img {
  max-width: 100%;
}

.btn_rating {
  border: 0;
  background-color: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.btn_rating:focus {
  outline: none;
}

.list-group {
  cursor: pointer;
}

.col-md-3 {
  background: rgb(216, 229, 233);
}

.navbar-brand {
  padding-right:0px;
}

.card:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
} 






